.container__main{
    margin-top: var(--space-700);
}

.list__menu{
    background-color: var(--clr-neutral-navy-900);
    padding-top: var(--space-400);
    padding-bottom: var(--space-400);
    padding-left: var(--space-700);
    padding-right: var(--space-700);
    border-radius: var(--space-200);
    margin-bottom: var(--space-700);
}

.dropdown-item{
    font-size: var(--fs-400);
    background-color: var(--clr-neutral-navy-900);
}


.dropdown__button {
    font-size: var(--fs-400);
    border-color: var(--bs-border-color);
    --bs-btn-bg: var(--clr-neutral-navy-900);
    --bs-btn-border-color: transparent;
    --bs-btn-hover-bg: var(--bs-tertiary-bg);
    --bs-btn-hover-border-color: transparent;  
    --bs-btn-active-bg: var(--bs-tertiary-bg);
    --bs-btn-active-border-color: var(--bs-border-color);
    --bs-btn-focus-shadow-rgb: none; 
    --bs-btn-color: #fff; 
    --bs-btn-hover-color: var(--clr-neutral-navy-900); 
    --bs-btn-active-color: var(--clr-neutral-navy-900);
}

.dropdown__button:focus:not(:hover):not(.show) {
    background-color: var(--clr-neutral-navy-900) !important;
}

.dropdown-menu {
    border-color: var(--bs-border-color);
    border-radius: 1rem;
    --bs-dropdown-bg: var(--clr-neutral-navy-900);
    --bs-dropdown-link-color: #fff;
    --bs-dropdown-link-hover-color: var(--clr-neutral-navy-900);
    --bs-dropdown-link-hover-bg: var(--bs-tertiary-bg);

}

.dropdown-item:active {
    background-color: var(--bs-tertiary-bg);
    color: var(--clr-neutral-navy-900);
}

.page-link{
    font-size: var(--fs-400);
    background-color: var(--clr-neutral-navy-900);
    border-color: #fff; 
    color: #fff;
}

.page-item.disabled .page-link {
    background-color: var(--clr-neutral-navy-900);
    color: var(--clr-neutral-navy-600);         
    border-color: var(--clr-neutral-navy-200);    
    pointer-events: none;    
}

.page-item.active .page-link {
    background-color: var(--clr-neutral-navy-600);
    min-width: var(--space-900);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    border-radius: var(--space-200);
    background-color: var(--clr-neutral-navy-900);
    color: #fff;
    font-size: var(--fs-500);
}

.weather-icon{
    font-size: var(--fs-800);
}

.bi{
    color: var(--clr-neutral-navy-600);
}

.card__owner{
    font-size: var(--fs-400);
}

.pagination__wrapper__lower{
    margin-top: var(--space-700);
}

